<div *ngIf="osInfo != undefined" class="footer bg-cardtitle text-dark">
  <div class="column w40 text-left pl-1 pt-1" >
    <div>
      Hostname: {{osInfo['hostname']}}
    </div>
    <div>
      IP: {{osInfo['ip']}}
    </div>
  </div>
  <div class="column w20 text-center pt-2">
    <h3>
        by iz2k ©
    </h3>
  </div>
  <div class="column w40 text-right pr-1 pt-1">
    <div>
      Free space: {{osInfo['fs_free_GB']}}GB/{{osInfo['fs_total_GB']}}GB
    </div>
    <div *ngIf="osInfo['internet']">
      Connected to internet
    </div>
    <div *ngIf="!osInfo['internet']">
      No internet connection
    </div>
  </div>
</div>
