<div class="container w100 clockContainer" >
  <div class="card border-dark w100 my-2 locationContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>Home</h4>
    </div>

    <div class="card-body w100">
      <app-home-current></app-home-current>
    </div>
  </div>

  <div class="card border-dark w100 my-2 locationContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>Weather</h4>
    </div>

    <div class="card-body w100">
      <app-weather-current></app-weather-current>
    </div>
  </div>
</div>
